# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.deps.json
bin/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.pdb
bin/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.runtimeconfig.json
C-Sharp-with-Avanade-Bootcamp.sln
obj/C-Sharp-with-Avanade-Bootcamp.csproj.nuget.dgspec.json
*.props
*.targets
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.AssemblyInfo.cs
obj/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.AssemblyInfoInputs.cache
obj/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.assets.cache
obj/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.csproj.FileListAbsolute.txt
obj/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.genruntimeconfig.cache
obj/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.GlobalUsings.g.cs
obj/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.pdb
obj/Debug/net8.0/C-Sharp-with-Avanade-Bootcamp.sourcelink.json
obj/project.assets.json
obj/project.nuget.cache
